@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ********* LOADER STYLING ********* */

body {
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #d5dfe6;
	font-family: Roboto;
	overflow: hidden;
}

form .field {
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	height: 50px;
	border-radius: .4rem;
	margin-bottom: 2rem;
}

form .field span {
	text-align: center;
	padding: 1.2rem;
	color: hsl(231, 11%, 63%);
}

.field input {
	background: none;
	border: none;
	flex: 1;
	height: 100%;
	outline: none;
	padding-left: 10px;
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
}

.field .error-icon {
	color: #d72822;
}

.field .valid-icon {
	color: hsl(136, 87%, 63%);
}

form .field.shake,
form .field.error {
	border: 2px solid #d72822;
}

form .field.valid {
	border: 2px solid #4bf072;
}

.field .error {
	display: none;
}

.field.shake .error,
.field.error .error {
	display: block;
}

#form button {
	width: 100%;
	margin-top: 1rem;
	padding: 0.84rem 0.4rem;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: rgb(26, 90, 200);
	border-radius: .35rem;
	cursor: pointer;
	transition: all 400ms ease;
}

.field.shake {
	animation: shake 0.2s ease-in-out;
}


@keyframes shake {

	0%,
	100% {
		margin-left: 0;
	}

	20%,
	80% {
		margin-left: -12px;
	}

	40%,
	60% {
		margin-left: 12px;
	}
}

#form button:hover {
	background: rgba(26, 90, 200, 0.7);

}

.hint {
	font-size: 1.3em;
	font-weight: 400;
}

.hint a.linkTo {
	text-decoration: none;
	color: rgb(26, 90, 200);
	transition: text-decoration 400ms;
}

.hint a.linkTo:hover {
	text-decoration: underline;
}

.alert {
	position: relative;
	font-size: 0.7em;
	font-weight: 400;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.fa-triangle-exclamation {
	position: absolute;
	right: 10px;
}

.fa-circle-check {
	position: absolute;
	right: 20px;
}

.alert-danger {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
}


.alert-success {
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #badbcc;
}

/* ******************************* NOTIFICATON STYLING **************************/
.notification-message,
.error-notification-message {
	position: absolute;
	display: flex;
	top: 30px;
	left: -100%;
	width: 400px;
	height: 60px;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border-radius: 0.3rem;
	transition: all 800ms;
	opacity: 0;
	overflow: hidden;
}

.notification-message::before,
.error-notification-message::before {
	position: absolute;
	content: "";
	left: 0;
	height: 100%;
	width: 0.6rem;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.notification-message::after,
.error-notification-message::after {
	position: absolute;
	content: "";
	left: 0;
	height: 0.4rem;
	bottom: 0;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.notification-message::before {
	background: hsl(134, 85%, 62%);
}

.error-notification-message::before {
	background: hsl(0, 85%, 62%);
}

.notification-message::after {
	background: hsl(134, 85%, 62%);
}

.error-notification-message::after {
	background: hsl(0, 85%, 62%);
}

.notification-message span.fa-circle-check,
.error-notification-message span.fa-exclamation-circle,
.error-notification-message span.fa-close,
.notification-message span.fa-close {
	position: absolute;
	font-size: 20px;
	cursor: pointer;
}

.notification-body {
	width: 240px;
}

.error-notification-body {
	width: 240px;
}

.notification-message span.fa-circle-check {
	left: 20px;
	color: hsl(134, 85%, 62%);
}

.notification-message span.fa-close,
.error-notification-message span.fa-close {
	right: 20px;
	top: 10px;
}

.error-notification-message span.fa-exclamation-circle {
	left: 20px;
	color: hsl(0, 85%, 62%);
}

.notification-message.active,
.error-notification-message.active {
	left: 35px;
	opacity: 1;
}

.notification-message.active::after,
.error-notification-message.active::after {
	animation: animateLoad 5s linear infinite;
}

@keyframes animateLoad {
	0% {
		width: 100%;
	}

	100% {
		width: 0;
	}
}

@media screen and (max-width:375px) {
	.alert {
		font-size: 2px;
	}

	form .field {
		width: 300px;
	}

	.field span.fa-eye,
	.field span.fa-eye-slash {
		padding-right: 1.2rem;
	}

	.error-notification-body {
		width: 275px;
	}

	.notification-message,
	.error-notification-message {
		width: 360px;
	}

	.notification-message.active,
	.error-notification-message.active {
		left: 18px;
		opacity: 1;
	}
}

@media screen and (max-width:575px) {
	.alert {
		font-size: 2px;
	}

	form .field {
		width: 320px;
	}

	.field span.fa-eye,
	.field span.fa-eye-slash {
		padding-right: 1.2rem;
	}

	.error-notification-body {
		width: 275px;
	}

	.notification-message,
	.error-notification-message {
		width: 390px;
	}

	.notification-message.active,
	.error-notification-message.active {
		left: 25px;
		opacity: 1;
	}
}


@media screen and (min-width:575px) {
	.alert {
		font-size: 2px;
	}

	form .field {
		width: 320px;
	}

	.field span.fa-eye,
	.field span.fa-eye-slash {
		padding-right: 1.2rem;
	}

	.error-notification-body {
		width: 280px;
	}


	.notification-message,
	.error-notification-message {
		width: 395px;
	}

	.notification-message.active,
	.error-notification-message.active {
		left: 36px;
		opacity: 1;
	}
}


@media screen and (min-width:768px) {
	form .field {
		width: 450px;
	}

	form .field span.fa-eye,
	form .field span.fa-eye-slash {
		text-align: center;
		padding-right: 1.2rem;
	}

	.notification-message,
	.error-notification-message {
		width: 400px;
	}

	.notification-body,
	.error-notification-body {
		width: 260px;
	}

}

@media screen and (min-width:992px) {
	form .field {
		width: 330px;
	}
}

@media screen and (min-width:1440px) {
	form .field {
		width: 420px;
	}
}
